@import './variables';

* {box-sizing:border-box;vertical-align:middle;}
*:focus {outline: none;}
::-webkit-scrollbar {width: 10px;height: 10px;position:fixed;}
::-webkit-scrollbar-thumb {background-color:$shades-1;background-clip: padding-box;border:solid 1px transparent; border-radius: 8px;}
::-webkit-scrollbar-thumb:hover {background-color:$background-darken;}
::selection {background-color: #4848ff70;color: white;text-shadow: none;}
::-moz-selection {background: #4848ff70;color: white;text-shadow: none;}
html {width:100%;margin:0px auto; scroll-behavior: smooth;font-weight:normal;word-break:keep-all;background-color: $white;color: #333333;font-weight:$regular;letter-spacing: -0.01em;}
div {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
a {&, &:visited, &:hover, &:active {color: inherit;text-decoration: none;}}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
body {font-family: "neue-haas-grotesk-text","source-han-sans-korean", "sans-serif" "Times New Roman", Times, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,sans-serif;margin: 0px;background-color: white;}
button {outline: none;cursor:pointer;background:#fff;border:none;}
input {box-sizing:border-box}
input::placeholder {color:#666;}
textarea::placeholder{color:#959595;font-size:14px;line-height:20px;}
hr{margin-top:0;margin-bottom:0;border-top:1px solid #E1E1E1;border-bottom-width:0;width:100%;}
span{display:inline-block;line-height: 125%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
mark{background-color:#f2f2f2;}
ul {list-style: none;margin:0;padding:0}

.hover-pointer:hover {cursor:pointer;}
.contents-padding {padding: 15px 30px;}
.material-icons {color:$black;font-size:24px;}

/* Table */
table { width: 100%; border-collapse: collapse;
  td {padding: 6px 12px; padding-right: 40px; font-size:14px;line-height: 22px;}
  th {font-weight: $semi-bold;font-size: 14px; line-height: 22px;padding: 6px 12px;}
  tr {
    td {border-bottom: solid 1px #000000}
    &:first-child td {border-bottom: solid 2px #000000}
  }
  .table-header td {font-weight: $semi-bold;}
}

/* Modal */
.modal{position:fixed;top:0;left:0;width:100%;height:100%;padding:96px;display:none;background-color:rgba(0,0,0,.5);z-index:300;line-height:70vh;text-align:center;}
.modal-section{position:relative;display:inline-block;margin:auto;max-height:100%;background-color:#fff;border-radius:0px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);overflow:hidden;font-size:16px;line-height:23px;padding:40px 100px;}
.modal-body{padding:24px;}

/* Input */
.label-input {text-align: left;width:100%;margin-bottom:30px;}
.label-title {font-size: 16px;line-height: 22px;color:#5a5a5a;margin-bottom:9px;height:22px;}
.label-text {width: 100%; text-align: left;height:38px;margin-bottom:16px; 
  input {width: 100%;border:none;border:solid 2px $blue;font-size:18px;line-height: 1.25;padding: 6px 12px 5px 12px; color: $blue; font-family: "neue-haas-grotesk-text"}
  input::placeholder {color: $blue;font-weight: $semi-bold;}
}
.label-select{text-align: left;width:100%;margin-bottom:30px;position:relative;}
.label-select__text {width: 90%;height:45px;border:solid 1px #979797;font-size: 20px;line-height: 45px;padding-left:16px;display:flex;flex-wrap: wrap;position:relative;
  .label-select__text-icon {position:absolute;right:12px;
    i {line-height: 45px;}
  }
}
.label-select__dropdown {width: 90%;border:solid 1px #979797;position:absolute;background:#fff;z-index:2;
  .label-select__dropdown-item {width:100%;height:45px;font-size:20px;line-height: 45px;padding-left:16px;
    &.hover {background:#afafaf}
  }
}

.label-check {
  input {display: none}
  a{text-decoration:underline}
  i:hover {cursor:pointer}
  i {margin-right: 4px;font-size:14px}
  &.one-line {width: 100%;}
  span {font-size:18px}
}

.label-textarea { width: 100%;
  textarea {font-size: 18px; line-height: 125%;border: solid 2px $blue; padding: 6px 12px 5px 12px;width: 100%; color: $blue; font-family: "neue-haas-grotesk-text"}
  textarea::placeholder {color: $blue;font-weight: $semi-bold;font-size:18px;}
}


input[type=checkbox]+.material-icons{font-size:18px;margin-right:8px;}
input[type=checkbox]+i:before {content:'check_box_outline_blank'; color: #4848FF}
input[type=checkbox]:checked+i:before {content:'check_box'}

input[type="date"] {margin-left: -4px;}
input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-outer-spin-button { -webkit-appearance: none;}

input[type="number"] {-webkit-appearance: textfield;-moz-appearance: textfield;appearance: textfield;}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none;}

input[type="radio"],input[type="checkbox"] {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}
input[type=radio]+.material-icons{font-size:18px;margin-right:8px;}
input[type=radio]+i:before{content:'radio_button_unchecked'}
input[type=radio]:checked+i:before{content:'radio_button_checked'}


.input-select-wrapper {width: 600px; height: 43px; padding: 6px 12px 5px;border: solid 2px blue; margin-bottom : 8px;
  .dummy {position : absolute; width: 0px; height: 0px; border: none; padding: 0;}
  .input-select {width: 100%; display: flex; justify-content: space-between;
    span {font-size: 18px; color: blue; font-weight: $semi-bold}
    i {color: blue;font-size: 30px;}
  }

}
.input-select-dropdown { width: 600px; border: solid 2px blue; border-top: none; position: absolute; top: 43px; background: $white;
  .input-select-dropdown-item {width: 100%; color: blue; font-weight: $semi-bold;font-size: 18px;padding: 6px 12px;
    &:hover {background-color: blue; color: $white;}
  }
}

// Misc
.hidden{display: none;}


// pc and mobile
@media(min-width: 1024px) {
  .mobile {display: none !important}
}
@media(max-width: 1023px) {
  .pc {display: none !important}
}


/* Transitions */
/* name: fade */
.fade-enter {
  opacity: 0
}

.fade-enter-active {
  opacity : 1;
  transition: opacity 300ms linear;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}


/* name: slide-right */

.slide-right-enter {
  transform: translateX(-100%)
}

.slide-right-enter-active {
  transform: translateX(0%);
  transition: transform 0.5s linear;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}


.slide-right-exit {
  transform: translateX(0%)
}

.slide-right-exit-active {
  transform: translateX(-100%);
  transition: transform 0.5s linear;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}

.hide {
  display: none !important;
}