@import "./variables";


@font-face {
  font-family: 'HelveticaNeuePro';
  src: url('/font/HelveticaNeueLTPro-Bd.woff') format('woff');
  font-weight: $bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueStd';
  src: url('/font/HelveticaNeueLTStd-Bd.woff') format('woff');
  font-weight: $bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeuePro';
  src: url('/font/HelveticaNeueLTPro-Md.woff') format('woff');
  font-weight: $semi-bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueStd';
  src: url('/font/HelveticaNeueLTStd-Roman.woff') format('woff');
  font-weight: $regular;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueStd';
  src: url('/font/HelveticaNeueLTStd-Md.woff') format('woff');
  font-weight: $semi-bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeuePro';
  src: url('/font/HelveticaNeueLTPro-Roman.woff') format('woff');
  font-weight: $regular;
  font-style: normal;
  font-display: swap;
}

