@import './_variables.scss';


.contents-padding {padding: 72px 12px}

@media(max-width: 1279px) {
    .section {display: none !important}

    ::-webkit-scrollbar {display: none;}
    ::-webkit-scrollbar-thumb {display: none;}
    ::-webkit-scrollbar-thumb:hover {background-color:$background-darken;}

    .header {height: 61px; padding: 12px 16px 8px 16px;z-index:1000; border-bottom: solid 2px $main; background:$white;
        .header-wrapper { justify-content: flex-start; position: relative;
          .header-logo { width: 140px; height: 35px;font-family: "neue-haas-grotesk-text" !important;
            a, a img { width: 140px; height: 35px;}
          }
          .header-lang {
            button {width: 60px;height: 30px;border-radius: 18px;background-color: #4848ff;color: #ffffff;font-size: 16px;line-height: 16px;font-weight: 700;padding: 2px 0px;position: absolute;right: 48px;top: 6px;}
          }
          .header-drawer {
              i {font-size: 32px; color: $main; font-weight: $semi-bold;line-height: 41px;}
          }
        }
      }

    .footer-wrapper { height: auto;
        .spacer { margin-bottom: 72px; }
        .inner { display: block; 
            .inner-left {margin-top: 24px;}
            .newsletter-wrapper { position: relative;
                .newsletter-button {position: absolute; bottom: 0px; width: 240px; height: 40px;
                    span {font-size: 16px; line-height: 25px;}
                    &.expanded {height: 180px;}
                    .expanded-inner {padding: 14px 0px;
                        span {font-size: 19px}
                    }   
                }
            }
        }
    }

    .modal-menu { z-index:1; width: 100vw; height: 100vh; background-color:$main; position: fixed; top: 0; left: 0;
        .menu-title { height: 61px; border-bottom: solid 2px white; padding: 12px 16px; display:flex; flex-wrap: wrap; justify-content: space-between;
            .menu-title-text {
                i { font-size: 36px; color: white;margin-right: 8px;}
                span {font-size: 24px; color: white;}
            }
            .menu-title-close {
                i {font-size: 36px; color: $white;}
            }
        }
        .menu-nav {
            li { height: 61px; width: 100%; border-bottom: solid 2px white; padding: 12px 16px; font-size:24px; color: white}
        }

    }

    .section-main-mobile {
        .mobile-wrapper { padding-top: 61px;
            .first {background: $main;
                .image-wrapper {width: calc(100vw - 24px); height: calc((100vw - 24px)/4*3);
                    img {width:100%; height: 100%;}
                }
                .text-wrapper { margin-top: 36px; padding: 0px 32px;
                    span {font-size: 32px; color: $white;font-weight: $bold;}
                }
            }
            .second { background: $white;
                .image-wrapper {width: calc(100vw - 24px);height: calc((100vw - 24px)/133*160);
                    img {width:100%; height: 100%;}
                }
                .text-wrapper { margin-top: 36px; padding: 0px 32px;
                    ul li {font-size: 20px; color: $main;font-weight: $bold;}
                }
            }
            .third {
                .icons-wrapper { 
                    .icon-wrapper {width: calc(50vw - 24px); margin: 0px auto; text-align: center; margin-bottom: 48px;
                        .hover-pointer img {height: calc(50vw - 24px);}
                        .icon-title {margin : 24px auto; font-size: 18px; font-weight: $semi-bold;color: $blue;}
                        .icon-text { font-size: 16px; color: $blue;}
                    }
                }
            }
            .fourth { 
                .title-wrapper { font-size: 36px; color: $blue;margin-bottom: 16px;}
                .input-select-wrapper {width: 100%;margin-bottom:16px;}
                .input-select-dropdown {width: 100%}
                .form-send {margin-top: 8px; font-size: 16px; color: $blue; padding-left: 12px;
                    span {text-decoration: underline;font-weight: $semi-bold;}
                }
            }
        }
    }


    .section-about-mobile { background: $main; color: $white;
        .mobile-wrapper {padding-top: 72px;
            .first {
                .title-wrapper {font-size: 36px; font-weight: normal; margin-bottom: 48px; text-align: center;}
                .text-wrapper {font-size: 18px;}
            }
            .second {
                .title-wrapper {font-size: 36px; font-weight: normal; margin-bottom: 48px; text-align: center;}
                .team-wrapper {display: flex; flex-wrap: wrap; justify-content: space-evenly; width: auto; margin: 20px auto; 
                    .member { width: 336px; margin-bottom: 48px;
                      .avatar {width: 200px; height: 200px; border-radius: 50%; background-color: $black; margin: 0px auto;
                        img {width: 184px; height: 184px; margin: 9px 0px 0px 9px;}
                      }
                      .name {font-size: 30px; color: $white; width: 100%; text-align: center;
                        .ceo {font-size: 22px;}
                      }
                    .intro {margin-top: 16px; color: $white;font-size:18px;text-align: left; word-break: break-all;}
                    }
                  }
            }
        }
    }
    
    .section-news-mobile {
        .news-wrapper { width: 100%; height: 100%;
            .news-nav {width: 0px; height: 0px;margin: auto 0px;
              &.prev {border-top: 20px solid $transparent; border-bottom: 20px solid $transparent; border-right: 35px solid $main;margin-right:24px}
              &.next {border-top: 20px solid $transparent; border-bottom: 20px solid $transparent; border-left: 35px solid $main;margin-left:24px}
              &.placeholder {border-color: $transparent}
            }
            .news-item-wrapper { width: 320px; height: 420px; border: solid 2px $main; border-radius: 8px; margin: 24px auto;display:flex; flex-direction: column; justify-content: center; flex-wrap: nowrap;;
              .news-item-date {width: 100%; height: 60px; border-bottom: solid 2px $main;text-align: center;
                span {font-size:20px; color: $main;line-height: 60px;}
              }
              .news-item-title {width: 100%; height: 360px;margin: auto; text-align: center;padding: 24px 8px; height: 100%;
                .news-item-image { background-origin: center; background-position: center; width: 260px; height: 190px; margin: 0px auto}
                .news-item-text { display: flex; flex-direction: column; justify-content: center; text-align: center;height: 118px;
                  span {font-size: 22px;color: #4848ff; font-weight: 600;line-height: 125%;}
                }
              }
              &:hover { background-color: $main;
                .news-item-date {border-bottom-color: $white}
                .news-item-text span, span {color: $white}
              }
            }
          }
    }

    .news-modal { width: 100vw;
        .news-modal-wrapper {width: 100vw;overflow-y: scroll; padding-bottom: 196px;}
    }
}
